.breadcrumb-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
.breadcrumb-back-link {
	@media (max-width: 980px) {
		display: none;
	}
}
.breadcrumb {
	font-size: 14px;
	list-style: none;

	padding: 0;
	margin: 10px 0;
	@media (max-width: 800px) {
		white-space: nowrap;

		margin: 10px -25px;
		padding: 6px 25px;

		overflow-x: auto;
	}
	@media (max-width: 600px) {
		font-size: 12px;

		margin: 10px -15px;
		padding: 6px 15px;
	}
	ol,
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		+ li {
			&:before {
				content: "/";
				font-size: 11px;
				font-weight: 700;
				letter-spacing: 0.1em;
				color: #b8b8b8;

				margin: 0 11px 0 15px;
			}
		}
		&:last-child {
			@media (max-width: 800px) {
				margin-right: 15px;
			}
		}
	}
}
