.-menu-open {
	@media (max-width: 880px) {
		overflow: hidden;
		.page-header {
			border-bottom: 1px solid hsl(0, 0%, 91%);
		}
		.hamburger {
			span {
				width: 22px;
				&:first-child {
					transform: rotate(45deg) translate(2px, -4px);
				}
				&:nth-child(2) {
					transform: rotate(-45deg) translate(-1px, 7px);
				}
				&:last-child {
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}
			}
		}
		.page-menu-wrap {
			top: 0;
		}
	}
}
.page-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	width: 100%;

	border-bottom: 1px solid hsla(var(--tertiary-color), 1);

	background-color: #fff;
	&.-sticky {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		@media (min-width: 881px) {
			.page-logo {
				margin-right: 95px;
			}
			.page-header-menu {
				display: none;
			}
			.page-header-left {
				.page-menu-contacts {
					display: inline-flex;
				}
			}
			.page-header-search {
				display: inline-flex;
			}
			.page-header-actions {
				.page-menu-contacts {
					display: none;
				}
			}
		}
	}
}
.page-header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
.page-header-btn {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	min-width: 80px;
	max-width: 160px;

	margin: 0;
	padding: 0 15px;

	border: none;

	background-color: transparent;
	@media (max-width: 615px) {
		width: 60px;
		min-width: 60px;
	}
}
.page-header-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	.page-header-btn:not(.page-basket-btn) {
		text-decoration: underline;
		text-decoration-color: rgba(17, 17, 17, 0.1);
		@media (min-width: 881px) {
			&:hover {
				text-decoration-color: hsla(var(--accent-hover-color), 1);
			}
		}
	}
	.page-menu-contacts {
		@media (max-width: 615px) {
			display: none;
		}
	}
	a[href^="tel"] {
		&:not(:last-child) {
			margin-right: 24px;
		}
	}
}
.page-basket-btn {
	text-decoration: none;

	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:hover {
		text-decoration: none;
		@media (min-width: 801px) {
			background-color: hsla(var(--accent-hover-color), 1);
			.page-basket-count {
				background-color: #fff;
			}
		}
	}
	svg {
		width: 28px;
		height: 24px;
	}
}
.page-basket-count {
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.1em;

	position: absolute;
	top: 30%;
	right: 22%;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 18px;
	width: 18px;

	background-color: hsla(var(--accent-color), 1);

	border-radius: 50%;
}
.page-logo {
	display: inline-flex;
	svg {
		width: 120px;
		height: 37px;
		@media (max-width: 615px) {
			width: 113px;
			height: 36px;
		}
	}
}
.page-header-menu {
	display: inline-block;
	@media (max-width: 880px) {
		display: none;
	}
	ul {
		display: inline-block;

		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		+ li {
			&:before {
				content: "/";

				color: hsla(0, 0%, 72%, 1);

				padding: 0 16px 0 12px;
			}
		}
	}
	a {
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		background-image: linear-gradient(
			to right,
			hsla(var(--accent-color), 1) 0,
			hsla(var(--accent-color), 1) 100%
		);
		background-size: 100% 2px;
		background-repeat: no-repeat;
		background-position: left 100%;

		transition: background-size 0.3s var(--easing);
		&:hover {
			text-decoration: none;
			@media (min-width: 881px) {
				background-size: 100% 50%;
			}
		}
	}
}
.page-header-left {
	display: flex;
	align-items: center;

	width: 100%;
	.page-logo {
		margin-right: 40px;
	}
	.page-menu-contacts {
		font-weight: normal;

		display: none;

		margin-right: 25px;
	}
}
.page-header-search {
	display: none;

	height: 36px;
	width: 100%;
	max-width: 628px;

	margin-right: 20px;

	border: 1px solid hsla(var(--secondary-color), 1);
	border-radius: 2px;

	overflow: hidden;
	select,
	input,
	button {
		height: 100%;

		border: none;
	}
	select,
	input {
		margin-bottom: 0;
		padding: 0 16px;
	}
	select {
		color: hsla(var(--primary-color), 1);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;

		appearance: none;

		background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.071 0a.071.071 0 00-.066.043.067.067 0 00.016.075l2.93 2.861a.07.07 0 00.1 0L5.979.12a.068.068 0 00.016-.076A.071.071 0 005.929 0H.071z' fill='%23000'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: 6px;
		background-position: 95% 50%;
		background-color: hsl(0, 0%, 96%);
	}
	svg {
		width: 14px;
		height: 14px;
	}
	input {
		color: hsla(0, 0%, 66%, 1);

		width: 100%;
		max-width: 460px;
	}
	button {
		flex: 0 0 34px;

		width: 34px;

		margin: 0;

		border-radius: 0;

		background-color: hsla(var(--accent-color), 1);
		@media (min-width: 881px) {
			&:hover {
				background-color: hsla(var(--accent-hover-color), 1);
			}
		}
		svg {
			opacity: 0.2;
		}
	}
}
.hamburger {
	@media (min-width: 880px) {
		display: none;
	}
	@media (max-width: 880px) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 80px;
		height: 80px;

		margin: 0;

		border: none;

		background-color: transparent;
		span {
			display: block;
			width: 28px;
			height: 3px;
			margin-bottom: 5px;
			position: relative;

			background: hsla(var(--primary-color), 1);

			z-index: 1;

			border-radius: 2px;

			transform-origin: 4px 0px;

			transition: transform 0.5s var(--easing),
				background 0.5s var(--easing), opacity 0.5s var(--easing);
			&:first-child {
				transform-origin: 0% 0%;
			}
			&:nth-child(2) {
				transform-origin: 0% 100%;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 615px) {
		width: 60px;
		height: 60px;

		margin-right: -15px;
	}
}
.page-menu-wrap {
	@media (min-width: 881px) {
		display: none;
	}
	@media (max-width: 880px) {
		position: fixed;
		top: -100vh;
		left: 0;
		z-index: 2;

		width: 100%;
		height: 100vh;

		padding-top: 80px;

		overflow-y: auto;

		background-color: #fff;

		transition: top 0.3s var(--easing);
		a[href^="https://wa.me"]
		{
			margin-right: 5px;
		}
	}
	@media (max-width: 615px) {
		padding-top: 60px;
	}
}
.page-menu-contacts {
	display: flex;
	align-items: center;
	a:first-child {
		margin-right: 5px;
	}
}
.page-menu {
	@media (max-width: 880px) {
		text-align: right;

		display: flex;
		flex-direction: column;
		align-items: flex-end;

		height: 100%;

		padding: 55px;
		address {
			font-size: 14px;
			font-style: normal;

			max-width: 300px;

			margin-bottom: 10px;
		}
		a[href^="mailto"],
		a[href^="tel"] {
			line-height: 2;

			display: inline-block;
		}
	}
	@media (max-width: 615px) {
		padding: 30px 15px 15px 15px;
	}
}
.page-nav {
	@media (max-width: 880px) {
		margin-bottom: 55px;
		ul {
			margin: 0;
			padding: 0;

			list-style-type: none;
		}
		a {
			font-size: 24px;
			font-weight: 800;
			line-height: 2;

			display: inline-block;
		}
	}
	@media (max-width: 615px) {
		margin-bottom: 25px;
		a {
			font-size: 16px;
		}
	}
}
