.product-card-recomended {
	margin: 0 calc((-100vw + 1060px) / 2);
	padding: 0 calc((100vw - 1060px) / 2);
	@media (max-width: 1280px) {
		margin: 0 calc((-100vw + 1060px) / 2);
		padding: 0 calc((100vw - 960px) / 2);
	}
	@media (max-width: 1090px) {
		margin: 0 -25px;
		padding: 0 95px;
	}
	@media (max-width: 640px) {
		margin: 0 -15px;
		padding: 0 85px;
	}
	&:before,
	&:after {
		content: "";

		position: absolute;
		top: 0;
		z-index: 2;

		height: 100%;
		width: calc((100vw - 1060px) / 2);

		background: rgb(255, 255, 255);
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 50%
		);
		@media (max-width: 1090px) {
			width: 95px;
		}
		@media (max-width: 640px) {
			width: 85px;
		}
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;

		transform: scale(-1);
	}
	.swiper-button-next,
	.swiper-button-prev {
		width: 56px;
		height: 56px;

		top: 50%;

		margin: 0;

		border: 1px solid hsla(var(--primary-color), 1);

		background-color: #fff;

		transform: translate(-50%, -50%);
		@media (max-width: 1090px) {
			transform: translateY(-50%);
		}
		&:after {
			content: initial;
		}
		svg {
			color: hsla(var(--primary-color), 1);
			width: 7px;
			height: 12px;
		}
		@media (min-width: 881px) {
			&:not(.swiper-button-disabled):hover {
				background-color: hsla(var(--secondary-color), 1);
			}
		}
	}
	.swiper-button-next {
		right: calc(50% - (1265px / 2));
		@media (max-width: 1280px) {
			right: calc(50% - (1095px / 2));
		}
		@media (max-width: 1090px) {
			right: 25px;
		}
		@media (max-width: 640px) {
			right: 15px;
		}
		svg {
			transform: scale(-1);
		}
	}
	.swiper-button-prev {
		left: calc(50% - (1155px / 2));
		@media (max-width: 1280px) {
			left: calc(50% - (985px / 2));
		}
		@media (max-width: 1090px) {
			left: 25px;
		}
		@media (max-width: 640px) {
			left: 15px;
		}
	}
}
