.index-hero {
	h1 {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.35;

		margin: 0;
		@media (max-width: 615px) {
			font-size: 13px;
			text-align: center;
		}
		@media (max-width: 370px) {
			font-size: 11px;
		}
		span {
			font-weight: 700;
		}
	}
	p {
		font-size: 13px;

		margin: 8px 0;
		@media (max-width: 615px) {
			font-size: 11px;
		}
	}
	form {
		margin: 0 0 12px 0;
		@media (max-width: 615px) {
			margin-bottom: 0;
		}
	}
}
.index-hero-outer {
	position: relative;

	display: grid;
	grid-template-columns: repeat(12, 1fr);

	background-color: #ededed;

	border-radius: 2px;
	@media (max-width: 1000px) {
		grid-template-columns: 400px 1fr 1fr 80px;
	}
	@media (min-width: 881px) {
		height: 375px;
	}
	@media (max-width: 880px) {
		grid-template-columns: 1fr 1fr;
	}
	.index-hero-inner {
		@media (min-width: 1001px) {
			grid-column: 1 / span 10;
			grid-row: 1;
		}
		@media (max-width: 1000px) {
			grid-column: 1 / span 2;
		}
		@media (max-width: 880px) {
			grid-row: 1 / span 2;
		}
		@media (max-width: 615px) {
			grid-row: 1;
		}
	}
	.index-hero-bg {
		@media (min-width: 1001px) {
			grid-column: 6 / span 7;
			grid-row: 1;
		}
		@media (max-width: 1000px) {
			display: none;
		}
	}
	.index-switch-btn {
		@media (min-width: 1001px) {
			grid-column: -1;
			grid-row: 1;
		}
	}
}
.index-hero-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	z-index: 1;

	height: 100%;

	padding: 35px 0 20px 30px;
	@media (max-width: 880px) {
		padding: 35px 40px 20px 40px;
	}
	@media (max-width: 615px) {
		padding: 16px;
	}
}
.index-switch-btn {
	font-size: 32px;
	font-weight: 800;

	display: flex;
	align-items: flex-end;
	justify-content: center;

	height: 100%;
	width: 80px;

	margin: 0;
	padding: 70px 24px 24px 24px;

	background-image: url("data:image/svg+xml,%3Csvg width='24' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.214.033c.823 0 1.488.699 1.488 1.564v5.49c0 .865-.665 1.564-1.488 1.564s-1.488-.699-1.488-1.564V1.564c.031-.832.696-1.53 1.488-1.53zm-2.153 29.48l4.496-4.725c.063-.067.095-.166.158-.233.063-.1.127-.166.158-.266.064-.2.127-.4.127-.6 0-.199-.032-.398-.127-.598-.031-.1-.095-.166-.158-.266-.063-.067-.095-.166-.158-.233l-4.496-4.758a1.44 1.44 0 00-2.09 0c-.57.599-.57 1.597 0 2.196l1.995 2.096H1.52c-.823 0-1.488.699-1.488 1.564 0 .865.665 1.564 1.488 1.564h17.414l-1.995 2.096c-.57.599-.57 1.597 0 2.196.602.566 1.552.566 2.122-.033zM9.879 1.563v11.713c0 .865.665 1.563 1.488 1.563s1.488-.698 1.488-1.563V1.564C12.855.699 12.19 0 11.367 0a1.57 1.57 0 00-1.488 1.564zM2.976 17.436V1.564C2.976.699 2.311 0 1.488 0S0 .699 0 1.564v15.87c0 .866.665 1.564 1.488 1.564s1.488-.698 1.488-1.563z' fill='%23000'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-color: hsla(var(--accent-color), 1);
	background-size: 30px;
	background-position: 50% 5%;

	border: none;
	@media (max-width: 1000px) {
		grid-column: 4;
		grid-row: 1;
	}
	@media (min-width: 881px) {
		&:hover {
			background-color: hsla(var(--accent-hover-color), 1);
		}
	}
	@media (max-width: 880px) {
		display: none;
	}
	span {
		white-space: nowrap;

		writing-mode: vertical-lr;

		transform: scale(-1, -1);
	}
}
.index-hero-tabs {
	@media (min-width: 616px) {
		button {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.1em;
			text-transform: uppercase;

			padding: 14px 20px 15px 55px;
			margin: 0;

			background-color: hsla(var(--accent-color), 1);
			background-repeat: no-repeat;
			background-position: 16px 50%;

			border: none;
			border-radius: 2px 2px 0px 0px;
			@media (min-width: 881px) {
				&:hover {
					background-color: hsla(var(--accent-hover-color), 1);
				}
			}
			&[data-value="parts"] {
				margin-right: 12px;

				background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.506 18.56a1.486 1.486 0 002.1-2.101l-7.071-7.07-2.1 2.1 7.071 7.07zm.646-1.455a.618.618 0 11.874.875.618.618 0 01-.874-.875zM7.585 5.44A3.907 3.907 0 002.472.329l1.365 1.364L5.4 3.257l-2.1 2.1L.37 2.43a3.907 3.907 0 005.113 5.11l2.013 2.014 2.101-2.1L7.585 5.44z' fill='%23111'/%3E%3Cpath d='M18.99 1.205L17.784 0l-2.972 1.766-.206 1.411.108.109-9.485 9.482-.602-.601-4.173 4.171a1.55 1.55 0 00.492 2.521l.02.012c.07.028.143.045.216.063.024.006.047.017.072.021.05.01.102.01.153.015.048.004.095.014.143.014.05 0 .098-.01.147-.014.05-.005.1-.005.15-.015.023-.004.046-.014.07-.02.266-.065.521-.197.73-.405l4.173-4.171-.602-.602 9.486-9.483.108.109 1.412-.206 1.766-2.972z' fill='%23111'/%3E%3C/svg%3E");
				background-size: 19px;
			}
			&[data-value="accessories"] {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.655 2.647a.318.318 0 00-.316-.304h-2.412a.319.319 0 00-.317.304H12.305c-1.79 0-3.466.472-4.904 1.292l-.196-.934.053-.011a.32.32 0 00.248-.38L7.013.254a.32.32 0 00-.38-.247l-.052.01L.255 1.34l-.016.004v.003a.32.32 0 00-.232.373L.5 4.08a.319.319 0 00.363.247l1.889 9.032c.693 4.493 4.706 7.94 9.553 7.94 5.336 0 9.661-4.175 9.661-9.326 0-.994-.163-1.95-.46-2.85h1.1v.054c0 .178.144.32.321.32h2.412a.32.32 0 00.32-.32v-6.53h-.004zm-7.828 1.477l.013.007h-.013v-.007zM1.765 5.306l.785-.164.466 2.226c-.23.443-.408.917-.524 1.411l-.727-3.473zm10.586 11.812a5.145 5.145 0 110-10.29 5.146 5.146 0 110 10.29zm-.305-12.589a8.342 8.342 0 00-7.419 9.173 8.3 8.3 0 001.993 4.583A8.342 8.342 0 1118.447 6.571a8.322 8.322 0 00-6.4-2.042zm9.42-.398h-2.274a6.082 6.082 0 00-1.275-.8h3.55v.8z' fill='%23111'/%3E%3Cpath d='M12.882 11.051l.245-2.976h-1.55l.245 2.976c-.164.094-.299.23-.393.393l-2.977-.245v1.548l2.977-.244c.094.163.229.298.393.392l-.245 2.977h1.55l-.246-2.976a1.07 1.07 0 00.393-.393l2.976.245v-1.549l-2.976.245a1.07 1.07 0 00-.392-.393z' fill='%23111'/%3E%3C/svg%3E");
				background-size: 26px;
			}
			&.-checked {
				padding-top: 20px;

				background-color: #fff;

				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

				cursor: default;
				&:focus {
					outline: none;
				}
				@media (min-width: 881px) {
					&:hover {
						background-color: #fff;
					}
				}
				span {
					border: none;

					background-image: linear-gradient(
						to right,
						hsla(var(--accent-color), 1) 0,
						hsla(var(--accent-color), 1) 100%
					);
					background-size: 100% 6px;
					background-repeat: no-repeat;
					background-position: left 100%;
				}
			}
			span {
				border-bottom: 1px dashed hsla(var(--primary-color), 1);
			}
		}
	}
	@media (max-width: 615px) {
		display: none;
	}
}
.index-hero-search-wrap {
	max-width: 600px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	@media (max-width: 615px) {
		border-radius: 2px;
		overflow: hidden;
	}
}
.index-hero-search {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 12px;

	position: relative;

	background-color: #fff;
	@media (max-width: 615px) {
		padding: 0 0 0 12px;
	}
	&.-tuning-accessories {
		font-size: 13px;
		@media (max-width: 810px) {
			flex-flow: row wrap;
		}
		.select {
			flex: 0 0 calc(50% - 30px);
			@media (max-width: 810px) {
				flex: 0 0 100%;
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
		span {
			@media (min-width: 811px) {
				flex: 0 0 60px;

				text-align: center;
			}
			@media (max-width: 810px) {
				display: none;
			}
		}
	}
	input {
		font-size: 16px;

		flex: 0 0 calc(100% - 80px);

		margin: 0;
		padding: 0 0 4px 0;

		border: none;
		border-bottom: 1px solid #efefef;
		@media (max-width: 615px) {
			width: 100%;
			flex: 0 0 calc(100% - 58px);
			margin: 8px 0;
		}
	}
	.btn {
		width: 46px;
		height: 46px;

		padding: 13px;
		svg {
			color: hsla(var(--primary-color), 1);

			width: 18px;
			height: 18px;

			margin: 0;
		}
	}
}
.index-hero-bg {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	img {
		height: 100%;
		width: 100%;

		object-fit: contain;
		object-position: center;
		@media (max-width: 1000px) {
			object-position: bottom;
		}
		@media (max-width: 615px) {
			height: 100%;
		}
		@media (min-width: 881px) {
			&:first-child {
				width: 66%;
			}
			&:last-child {
				width: 55%;
			}
		}
	}
}
.index-hero-checked-type {
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 0 0 5px hsla(var(--accent-color), 1);
	@media (min-width: 616px) {
		margin-bottom: 30px;
	}
	@media (max-width: 880px) {
		font-size: 32px;
		line-height: 1.6;
	}
	@media (max-width: 615px) {
		font-size: 20px;

		margin: 0 0 6px 0;
	}
}
.index-description {
	@media (max-width: 615px) {
		display: none;
	}
}