.catalog-outer {
	.wrap {
		max-width: 1090px;
	}
}
.catalog {
	margin-bottom: 100px;
	img {
		outline: none;
	}
}
.catalog-name {
	font-size: 22px;
	font-weight: 800;

	margin: 0 0 12px 0;
	@media (max-width: 600px) {
		font-size: 18px;
	}
}
