.basket {
    .wrap {
        max-width: 1090px;
    }
}
.page-name {
	font-size: 24px;
	font-weight: 800;

	margin: 0 0 12px 0;
	@media (max-width: 600px) {
		font-size: 18px;
	}
}
.basket-form-grid {
    display: grid;
    grid-gap: 7px 14px;
    @media (min-width: 701px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-gap: 15px;
    }
    .basket-textarea {
        @media (min-width: 701px) {
            grid-column: 2;
            grid-row: 1 /span 7;
        }
    }
}
.basket-input,
.basket-textarea,
.basket-input-info {
    display: grid;
    align-items: center;
    label,
    .basket-input-label {
        font-size: 12px;
    }
    input, textarea, select,
    .basket-input-control {
        font-size: 14px;

        width: 100%;

        padding: 0 7px;
        margin: 0;

        border: 1px solid #D9D9D9;
        border-radius: 2px;
    }
}
.basket-input,
.basket-textarea {
    @media (min-width: 601px) {
        grid-template-columns: 150px 1fr;
    }
    @media (max-width: 600px) {
        grid-gap: 3px;
    }
    input, select {
        height: 30px;
    }
}
.basket-input-info {
    grid-template-columns: 150px 1fr;
    .basket-input-control {
        display: flex;
        align-items: center;
        
        border: none;
    }
}
.basket-textarea {
    align-items: flex-start;
    textarea {
        min-height: 65px;

        padding: 7px;
    }
}
.basket-table-container {
    margin: 27px 0;
    @media (max-width: 1000px) {
        overflow-x: auto;
    }
    @media (max-width: 600px) {
        margin: 15px 0;
    }
    .table {
        @media (max-width: 1000px) {
            width: 1110px;
        }
    }
    .min-max {
        background: #f5f5f5 none repeat scroll 0 0;
        border: 1px solid #c1c1c1;
        height: 19px;
        margin-left: 1px;
        width: 60px;
        input {
            background: #f5f5f5 none repeat scroll 0 0;
            border: medium none;
            font-weight: bold;
            height: 17px;
            padding: 0 2px;
            text-align: center;
            width: 49%;
            display: block;
            float: left;
        }
        a {
            color: #424141;
            font-family: serif;
            width: 25%;
            display: block;
            float: left;
            text-align: center;
            height: 19px;
            &:hover {
                text-decoration: none;
                color: #771616;
                transition: color .3s ease;
            }
        }
    }
    .remove {
        background-color: #f5f5f5 !important;
        font-size: 120% !important;
        a {
            width: 100%;
            color: inherit;
            text-decoration: none;
        }
    }
}
.basket-submit {
    text-align: center;
    .btn {
        height: 44px;
        padding: 0 40px;

        margin-right: 10px;
    }
}
.basket-text {
    font-size: 12px;
}
.alert {
    background-color: #f5f5f5;

    margin: 15px 0;
    padding: 12px 20px;
}
.shipping-item {
    display: grid;
    grid-template-columns: 120px 90px min-content;
    align-items: center;
    justify-items: center;

    margin: 10px 0;
}
.shipping-text {
    grid-column: span 3;

    margin: 0;
}